.register {
  position: relative;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
  background: rgb(255, 114, 97);
  background: linear-gradient(
    90deg,
    rgba(255, 114, 97, 1) 20%,
    rgba(183, 200, 203, 1) 75%
  );
}

.register__container {
  border: solid black;
  border-radius: 5px;
  width: 40%;
  height: 70%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.register__info__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.tittle {
  text-transform: capitalize;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.login__info__container > p {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.inputs__container {
  height: 55%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input,
.btn {
  width: 90%;
  height: 3.125rem;
  font-size: 1em;
  margin: 10px;
}

.input {
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.input:hover {
  border: solid black;
}

.btn {
  width: 80%;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: white;
  border-radius: 5px;
  background-color: black;
}

.inputs__container {
  margin: 0;
}

.span {
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .register__container {
    width: 70%;
  }
}

@media screen and (max-width: 576px) {
}
