.establishments {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgb(5, 127, 141);
  background: linear-gradient(
    336deg,
    rgba(5, 127, 141, 1) 18%,
    rgba(183, 200, 203, 1) 49%,
    rgba(255, 114, 97, 1) 100%
  );
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ests__tittle {
  font-size: 4rem;
  font-family: "Montez", cursive;
}

.card {
  max-width: 85%;
  padding: 10px;
  padding-bottom: 40px;
  margin: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

@media screen and (max-width: 1200px) {
  .card {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 576px) {
  .ests__tittle {
    font-size: 2.5rem;
  }
}
