.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.hero__tittle {
  position: absolute;
  bottom: 10%;
  right: 7%;
  color: white;
  font-size: 7rem;
  padding: 15px;
}

@media screen and (max-width: 1200px) {
  .hero__tittle {
    font-size: 5rem;
  }
}
@media screen and (max-width: 992px) {
  .hero__tittle {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 768px) {
  .hero__tittle {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 576px) {
  .hero__tittle {
    font-size: 2.5rem;
  }
}
