.footer {
  background-color: black;
  opacity: 0.9;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  margin-bottom: 0;
}

.footer__container {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.footer__container2 {
  display: none;
}

.footer__logo {
  font-family: "Montez", cursive;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.footer__logo__2 {
  font-family: "Montez", cursive;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
}

.footer__item {
  margin: 0 10px;
}

.footer__link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.footer__link:hover {
  color: #ff7261;
  transition: 250ms;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .footer__logo {
    font-size: 1rem;
  }

  .footer__link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: calc(100%);
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__container2 {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer__logo {
    font-size: 1.3rem;
    margin: 20px auto;
  }

  .footer__list {
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
