hr {
  width: 80%;
  background: black;
  border: 0.8px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.report__container {
  display: flex;
  flex-direction: column;
}

.report__info {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.rep__button {
  font-size: 1.3rem;
  text-decoration: none;
  background: none;
  border: solid black;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-style: solid;
  transition: 250ms;
  margin-top: 20px;
}

.rep__button:hover {
  color: #ff7261;
  transition: 250ms;
  cursor: pointer;
}
