.aboutus {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
  background: rgb(5, 127, 141);
  background: linear-gradient(
    336deg,
    rgba(5, 127, 141, 1) 18%,
    rgba(183, 200, 203, 1) 49%,
    rgba(255, 114, 97, 1) 100%
  );
}

.ests__tittle {
  font-size: 4rem;
  font-family: "Montez", cursive;
}